- var aboutMe = 'Меня зовут Анатолий. Проживаю в городе Тольятти. В последнее время открыл для себя много интересного в JavaScript и всех сопутствующих тенденциях от Microsoft:ASP.NET 4...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eligendi aliquid nisi possimus repellendus omnis fugit modi perspiciatis libero aperiam molestias debitis labore similique voluptatibus quibusdam nostrum aspernatur necessitatibus sapiente numquam, error quod eos adipisci. Deleniti, dicta. Distinctio quaerat tenetur laborum quam necessitatibus harum quod error amet nemo! Quaerat, provident esse. Tempora doloremque dicta, beatae! Debitis facere delectus neque doloremque aliquid? Ipsum possimus doloribus quibusdam eaque ut voluptatibus cumque quasi at, voluptas nam. Dolorum aut reprehenderit laboriosam voluptas sit obcaecati accusamus doloremque expedita placeat illo eligendi harum, a repellat laborum quos optio, quia eos, beatae. Temporibus mollitia distinctio modi esse.'
- var wrapperClass = 'wrapper-about';
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(
		name="viewport"
		content="width=device-width, initial-scale=1.0")
		block meta
			meta(
			name="description"
			content="Анатолий Анатольев визитка, html/css разработчик. Карьерный путь, скачать резюме")
			meta(
			name="keywords"
			content="Анатолий, Анатольев, резюме, карьера")
		block title
			title Анатолий Анатольев, информация о себе
		link(rel="stylesheet", href="css/custom.css")
		block css
			link(rel="stylesheet", href="css/about.css")
	block vars
	body
		div(class="wrapper #{wrapperClass}")
			include ../layout/header
			.container
				include ../layout/nav
				block main
					main.main
						.portrait
							img(
							class="portrait__image"
							src="img/big_avatar_low.jpg"
							alt="Photo")
						section.main__info
							h1.main__header
								| Обо мне
							p.main__text
								| #{aboutMe} #{aboutMe}
							button(title="Download summary").main__button
								| Скачать резюме
			include ../layout/footer