extends about.jade
block meta
	meta(
	name="description"
	content="Анатолий Анатольев визитка, html/css разработчик. Опыт работы 2012-2016")
	meta(
	name="keywords"
	content="Анатолий, Анатольев, резюме, опыт работы")
block title
	title Анатолий Анатольев - Карьерный путь
block css
	link(rel="stylesheet", href="css/career.css")
block vars
	- var wrapperClass = 'wrapper-career';
block main
	main.main
		h1.main__header
			| Карьерный путь
		section.main__content
			.sample
				img(
				class="sample__image"
				src="img/sample_low.jpg"
				alt="Sample")
			arcticle.experience
				ul.experience__list
					li.experience__item
						.post
							p.post__title
								| "Weblime"
							span.post__rank
								| Старший разработчик
							span.post__period
								| 2015 - по настоящее время
							span.post__year
								| 2016
					li.experience__item
						.post
							p.post__title
								| "Weblime"
							span.post__rank
								| Средний разработчик
							span.post__period
								| 2013 - 2015
							span.post__year
								| 2015
					li.experience__item
						.post
							p.post__title
								| "Weblime"
							span.post__rank
								| Младший разработчик
							span.post__period
								| 2012 - 2013
							span.post__year
								| 2013
					li.experience__item
						.post
							p.post__title
								| "Weblime"
							span.post__rank
								| Стажер
							span.post__period
								| 2011 - 2012
							span.post__year
								| 2012