header.header
	.header__body
		.avatar
			img(
			src="img/ava_low.jpg"
			alt="photo").avatar__image
		span.header__title
			| Анатолий Анатольев
		.communications
			.contacts
				a(href="#").contacts__switcher
					| Мои контакты
			.contacts-wrapper
				ul.contacts__list
					li.contacts__item
						a(
						href="mailto:anatoly@mail.ru"
						title="mail"
						class="contacts-list__link contacts-list__link_mail")
							| anatoly@mail.ru
					li.contacts__item
						a(
						href="tel:+79873456212"
						title="phone"
						class="contacts-list__link contacts-list__link_phone")
							| +7 987 345 62 12
					li.contacts__item
						a(
						href="skype:anatoly_?call"
						title="skype"
						class="contacts-list__link contacts-list__link_skype")
							| anatoly_