nav.nav
	ul.nav__list
		li.nav__item
			a(
			class="nav__link nav__link_about"
			href="about.html"
			title="About me")
				| Обо мне
				svg(
				class="nav__icon nav__icon_about")
					use(
					xlink:href="img/svg/sprite.svg#spy")
		li.nav__item
			a(
			class="nav__link nav__link_career"
			href="career.html"
			title="My career")
				| Карьерный путь
				svg(
				class="nav__icon nav__icon_career")
					use(
					xlink:href="img/svg/sprite.svg#rocket")
		li.nav__item
			a(
			class="nav__link nav__link_portfolio"
			href="portfolio.html"
			title="My portfolio")
				| Портфолио
				svg(
				class="nav__icon nav__icon_portfolio")
					use(
					xlink:href="img/svg/sprite.svg#briefcase")